{% include 'ucp_header.html' %}
<form id="crosstimecafe_pmsearch_ucp" name="crosstimecafe_pmsearch_ucp" method="get" action="{{ U_UCP_ACTION }}">
	{{ S_HIDDEN_FIELDS }}
	<h2>{L_SEARCH}</h2>

	<div class="panel">
		<div class="inner">
			<h3>{{ lang('SEARCH_QUERY') }}</h3>

			<fieldset>
				<dl>
					<dt>
						<label for="keywords">{L_SEARCH_KEYWORDS}{L_COLON}</label><br/><span>{L_SEARCH_KEYWORDS_EXPLAIN}</span>
					</dt>
					<dd>
						<input type="search" class="inputbox" name="keywords" id="keywords" size="40" title="{L_SEARCH_KEYWORDS}"/>
					</dd>
				</dl>
				<dl>
					<dt>
						<label for="from">{L_UCP_PMSEARCH_FROM}{L_COLON}</label><br/><span>{L_UCP_PMSEARCH_SEPARATOR}</span>
					</dt>
					<dd>
						<input type="search" class="inputbox" name="from" id="from" size="40" title="{L_SEARCH_AUTHOR}"/>
					</dd>
				</dl>
				<dl>
					<dt>
						<label for="sent">{L_UCP_PMSEARCH_TO}{L_COLON}</label><br/><span>{L_UCP_PMSEARCH_SEPARATOR}</span>
					</dt>
					<dd>
						<input type="search" class="inputbox" name="sent" id="sent" size="40" title="{L_UCP_PMSEARCH_TO}"/>
					</dd>
				</dl>
			</fieldset>
		</div>
	</div>

	<div class="panel bg2">
		<div class="inner">

			<h3>{L_SEARCH_OPTIONS}</h3>
			<fieldset>
				<dl>
					<dt>
						<label for="search_folder">{L_UCP_PMSEARCH_IN_FOLDER}{L_COLON}</label>
						<br/><span>{L_UCP_PMSEARCH_FOLDER_EXPLAIN}</span>
					</dt>
					<dd>
						<select name="fid[]" id="search_folder" multiple size="4" style="background-color: #fff;" title="{L_UCP_PMSEARCH_FOLDER}">
							<!-- BEGIN folder_select -->
							<option value="{folder_select.id}">{folder_select.name}</option>
							<!-- END folder_select -->
						</select>
					</dd>
				</dl>
				<dl>
					<dt>
						<label for="sf1">{L_SEARCH_WITHIN}{L_COLON}</label>
					</dt>
					<dd>
						<label for="sf1"><input type="radio" name="sf" id="sf1" value="b" checked="checked"/>{L_UCP_PMSEARCH_SEARCH_BOTH}</label>
					</dd>
					<dd>
						<label for="sf2"><input type="radio" name="sf" id="sf2" value="t"/>{L_UCP_PMSEARCH_SEARCH_TEXT}</label>
					</dd>
					<dd>
						<label for="sf3"><input type="radio" name="sf" id="sf3" value="s"/>{L_UCP_PMSEARCH_SEARCH_SUBJECT}</label>
					</dd>
				</dl>
				{# TODO: More search options #}
				<!-- Not yet ready
				<hr class="dashed" />

				<dl>
					<dt><label for="show_results1">{L_DISPLAY_RESULTS}{L_COLON}</label></dt>
					<dd>
						<label for="show_results1"><input type="radio" name="sr" id="show_results1" value="posts" checked="checked" /> {L_UCP_PMSEARCH_MESSAGE}</label>
						<label for="show_results2"><input type="radio" name="sr" id="show_results2" value="topics" /> {L_UCP_PMSEARCH_SUBJECT}</label>
					</dd>
				</dl>
				<dl>
					<dt><label for="sd">{L_RESULT_SORT}{L_COLON}</label></dt>
					<dd>
						<select id="sk" name="sk" style="background-color: #fff">
						{% for option in sorting %}
							<option value="{{ option.value }}" {% if option.selected %}selected{% endif %}>{{ option.text }}</option>
						{% endfor %}
						</select>&nbsp;
						<label for="sa"><input type="radio" name="sd" id="sa" value="a" /> {L_SORT_ASCENDING}</label>
						<label for="sd"><input type="radio" name="sd" id="sd" value="d" checked="checked" /> {L_SORT_DESCENDING}</label>
					</dd>
				</dl>
				<dl>
					<dt><label>{L_RESULT_DAYS}{L_COLON}</label></dt>
					<dd>Replace me with timestamp</dd>
				</dl>
				<dl>
					<dt>
						<label for="ch">{{ lang('RETURN_FIRST') ~ lang('COLON') }}</label>
						<br><span>{{ lang('RETURN_FIRST_EXPLAIN') }}</span>
					</dt>
					<dd><input id="ch" name="ch" type="number" value="{{ DEFAULT_RETURN_CHARS }}" min="0" max="9999" title="{{ lang('RETURN_FIRST') }}"> {{ lang('POST_CHARACTERS') }}</dd>
				</dl>
				-->
			</fieldset>
		</div>
	</div>
	<fieldset>
		<dl>
			<dt>&nbsp;</dt>
			<dd>
				<input type="submit" id="submit" class="button1" value="{{ lang('SUBMIT') }}" tabindex="2"/>&nbsp;
				<input type="reset" name="reset" class="button2" value="{{ lang('RESET') }}"/>
			</dd>
		</dl>
	</fieldset>
</form>

{% include 'ucp_footer.html' %}
